aiohttp
aiohttp-retry
aiosignal
asgiref
async-timeout
attrs
autopep8
black
certifi
cffi
charset-normalizer
click
colorama
coreschema
coverage
Django
django-auditlog
django-cors-headers
django-filter
django-formtools
django-otp
django-phonenumber-field
django-rest-passwordreset
django-two-factor-auth
django-user-agents
djangorestframework
djangorestframework-simplejwt
drf-standardized-errors
Faker
flake8
frozenlist
idna
importlib-metadata
inflection
install
itypes
Jinja2
MarkupSafe
mccabe
multidict
mypy-extensions
mysql-connector-python
packaging
pathspec
phonenumbers
Pillow
platformdirs
pycodestyle
pycparser
pyflakes
PyJWT
pypng
python-dateutil
python-decouple
pytz
PyYAML
qrcode
requests
six
sqlparse
tomli
twilio
typing_extensions
tzdata
ua-parser
uritemplate
urllib3
user-agents
yarl
zipp
drf-spectacular